@model IEnumerable<Product>
@section title {
    <h2>@ViewData["Title"]</h2>
}

@if (Model != null)
{
    <div class="container mt-4">
        <div class="row">
            @foreach (var product in Model)
            {
                switch (product)
                {
                    case BCD bcd:
                        <div class="col-md-3 mb-4">
                            <div class="card" style="width: 18rem;">
                                <img src="assets/img/portfolio/BCD.jpg" class="card-img-top" alt="Image of a BCD vest used for diving">
                                <div class="card-body">
                                    <h5 class="card-text">@bcd.Model</h5>
                                    <div class="d-flex justify-content-between">
                                        <p class="card-text">@bcd.Brand</p>
                                        <p class="card-text">@bcd.PricePerDay,- kr/dag</p>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <a class="btn btn-primary float-end" asp-controller="Products" asp-action="Details" asp-route-id="@bcd.ProductId">Se detaljer</a>
                                </div>
                            </div>
                        </div>
                        break;

                    case DivingSuit divingSuit:
                        <div class="col-md-3 mb-4">
                            <div class="card" style="width: 18rem;">
                                <img src="assets/img/portfolio/DykkerDragt.jpg" class="card-img-top" alt="Image of a full-body, grey and black wetsuit">
                                <div class="card-body">
                                    <h5 class="card-title">@divingSuit.Model</h5>
                                    <div class="d-flex justify-content-between">
                                        <p class="card-text">@divingSuit.Brand</p>
                                        <p class="card-text">@divingSuit.PricePerDay,- kr/dag</p>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <a class="btn btn-primary float-end" asp-controller="Products" asp-action="Details" asp-route-id="@divingSuit.ProductId">Se detaljer</a>
                                </div>
                            </div>
                        </div>
                        break;
                    case MaskSnorkel mask:
                        <div class="col-md-3 mb-4">
                            <div class="card" style="width: 18rem;">
                                <img src="assets/img/portfolio/MaskeSnorkel.jpg" class="card-img-top" alt="Image of a black mask and snorkel set">
                                <div class="card-body">
                                    <h5 class="card-title">@mask.Model</h5>
                                    <div class="d-flex justify-content-between">
                                        <p class="card-text">@mask.Brand</p>
                                        <p class="card-text">@mask.PricePerDay,- kr/dag</p>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <a class="btn btn-primary float-end" asp-controller="Products" asp-action="Details" asp-route-id="@mask.ProductId">Se detaljer</a>
                                </div>
                            </div>
                        </div>
                        break;
                    case Finns finns:
                        <div class="col-md-3 mb-4">
                            <div class="card" style="width: 18rem;">
                                <img src="assets/img/portfolio/Finner.jpg" class="card-img-top" alt="Image of a black pair of diving finns">
                                <div class="card-body">
                                    <h5 class="card-title">@finns.Model</h5>
                                    <div class="d-flex justify-content-between">
                                        <p class="card-text">@finns.Brand</p>
                                        <p class="card-text">@finns.PricePerDay,- kr/dag</p>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <a class="btn btn-primary float-end" asp-controller="Products" asp-action="Details" asp-route-id="@finns.ProductId">Se detaljer</a>
                                </div>
                            </div>
                        </div>
                        break;

                    case Tank tank:
                        <div class="col-md-3 mb-4">
                            <div class="card" style="width: 18rem;">
                                <img src="assets/img/portfolio/Tank.jpg" class="card-img-top" alt="Image of a black diving tank">
                                <div class="card-body">
                                    <h5 class="card-title">@tank.Brand</h5>
                                    <div class="d-flex justify-content-between">
                                        <p class="card-text">@tank.Volume liter</p>
                                        <p class="card-text">@tank.PricePerDay,- kr/dag</p>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <a class="btn btn-primary float-end" asp-controller="Products" asp-action="Details" asp-route-id="@tank.ProductId">Se detaljer</a>
                                </div>
                            </div>
                        </div>
                        break;

                    case RegulatorSet regulatorSet:
                        <div class="col-md-3 mb-4">
                            <div class="card" style="width: 18rem;">
                                <img src="assets/img/portfolio/Regulator.jpg" class="card-img-top" alt="Image of a black and steel colored regulator set for diving">
                                <div class="card-body">
                                    <h5 class="card-title">@regulatorSet.FirstStep</h5>
                                    <div class="d-flex justify-content-between">
                                        <p class="card-text">@regulatorSet.Brand</p>
                                        <p class="card-text">@regulatorSet.PricePerDay,- kr/dag</p>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <a class="btn btn-primary float-end" asp-controller="Products" asp-action="Details" asp-route-id="@regulatorSet.ProductId">Se detaljer</a>
                                </div>
                            </div>
                        </div>
                        break;
                }
            }
        </div>
    </div>
}
